@import "bloben-common/globals/theme.scss";

.picker__wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  justify-content: center;
  align-items: center;
}

.picker__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  opacity: 1;
  border-radius: 24px;
  z-index: 99;
}

.date-picker__row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.picker__button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 2.6rem !important;
  color: $gray !important;
}
.picker__button--selected {
  @extend .picker__button;
  color: $PRIMARY_LIGHT !important;
}

.picker__container {
  display: flex;
  flex-direction: column;
}

.date-picker__wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
}

.date-picker__one-day-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-picker__one-day-container--selected {
  @extend .date-picker__one-day-container;
  background-color: $PRIMARY_LIGHT !important;
  color: $primaryText !important;
}
.date-picker__one-day-container--selected-dark {
  @extend .date-picker__one-day-container;
  background-color: $PRIMARY_DARK !important;
  color: $GRAY_800 !important;
}
.date-picker__container-month {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //align-self: stretch;
  padding: 0;
  margin: 20px 0px 20px 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.date-picker__title-month {
  width: 100%;
  margin: 8px 8px 8px 8px;
  font-size: 2.2rem;
}
.date-picker__title-month-dark {
  @extend .date-picker__title-month;
  color: $GRAY_200;
}
.date-picker__one-day-text {
  color: $GRAY_400;
}

.date-picker__one-day-text-normal {
  @extend .date-picker__one-day-text;
  color: $text;
}

.date-picker__one-day-text-selected {
  @extend .date-picker__one-day-text;
  color: $reverseText;
}
.date-picker__one-day-text-dark {
  color: $GRAY_600;
}
.date-picker__one-day-text-normal-dark {
  color: $textDark;
}
.date-picker__one-day-text-normal-selected {
  @extend .date-picker__one-day-text;
  color: $reverseText;
}

.date-picker__date-selected {
  color: $text;
  font-size: 1.4rem;
  margin: 20px 0 20px 0;
  padding: 0;
}

.date-picker__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 24px 16px 24px;
}
.date-picker__footer-button {
  font-size: 1.4rem !important;
  font-family: 'Montserrat' !important;
  color: $GRAY_700 !important;
}
.date-picker__footer-button-primary {
  @extend .date-picker__footer-button;
  margin-left: 16px !important;
  background: $PRIMARY_LIGHT !important;
  color: $textDark !important;
}
