@import "bloben-common/globals/theme.scss";

.version-footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.version-footer__text {
  font-size: 1.2rem;
  color: $gray;
}
.version-footer__text-dark {
  @extend .version-footer__text;
  color: $ICON_GRAY_DARK;
}
